@{
    ViewBag.Title = "Подтвержение восстановления пароля";
    
}

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <blockquote>
                <h3>@ViewBag.Title.</h3>
                <p>Зайдите, пожалуйста, на вашу электронную почту!</p>
                <p>Перейти на <a href="http://@ViewBag.Site">@ViewBag.Site</a></p>
            </blockquote>
        </div>
    </div>
</div>
	
