@{
    ViewBag.Title = "Подтверждение смены пароля";
}


<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <blockquote>
                <h3>@ViewBag.Title.</h3>
                <p>Ваш пароль был успешно изменен</p>
                <p>Пожалуйста, @Html.ActionLink("нажмите, что бы войти", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</p>
            </blockquote>
        </div>
    </div>
</div>