@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Блокировка";
}

<div class="container">
    <div class="row">
        <div class="col-md-3 col-md-offset-2">
            <img src="@Url.Content("~/Content/img/lockout.png")" class="img-thumbnail-without-border center-block" width="300" height="300" />
        </div>
        <div class="col-md-5">
            <blockquote>
                <h3 class="text-danger">Ваш аккаунт был заблокирован.</h3>
                <p class="text-danger">Пожалуйста, свяжитесь с администрацией сайта. </p>
            </blockquote>
        </div>
    </div>
</div>