html {
    /* for footer*/
    position: relative;
    min-height: 100%;
}

body {
    padding-top: 70px;
    padding-bottom: 20px;
    /* for footer*/
    margin-bottom: 60px;
    overflow-y:scroll;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-top: 10px; 
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.field-validation-error 
{
    font-size: small;
    font-weight:bold;
}
/*Position of logo*/
.navbar-brand {
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
}

.img-thumbnail-without-border {
  display: inline-block;
  height: auto;
  max-width: 100%;
  padding: 4px;
  line-height: 1.428571429;
  background-color: #ffffff;
  -webkit-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
 }

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}

 /* Set the custom color of the blockquote */
blockquote {
  border-left: 5px solid #e29277;
}

.competition-col {
    background: #fafafb;
    border: 1px solid #E0E0E0;
    padding: 10px;
    margin: 5px;
}

.competition-row {
    margin-bottom: 10px;
}

.competition-img {
    margin: 0 auto;
}

.competition-btn {
    margin-bottom: 3px;
}

.competition-voters {
    margin-bottom: 3px;
}

.competition-text {
    min-height: 45px;
}

/* VOTE */
/*------------------------*/
.vote-col {
	background: #fafafb;
    border: 1px solid #E0E0E0;
    padding: 5px;

}

.top-margin-20 {
	margin-top: 20px;
}

.top-margin-10 {
	margin-top: 10px;
}

.top-margin-7 {
	margin-top: 7px;
}

.bottom-padding-10 {
	padding-bottom: 10px;
}

.panel > .collapsing > .list-group,
.panel > .collapse > .list-group,
.panel > .in > .list-group{
	margin-bottom: 0;
}

.text-right {
	text-align: right;
}
.text-left {
	text-align: left;
}

.grade {
	padding: 3px;
	display: inline-block;
	border-color: transparent;
	background: #E1ECF4;
	width: 22px;
}

.grade:hover {
    background: rgb(204, 224, 237);
}

.grade-padding-3 {
	padding: 3px;
}

.grade-border-left {
	padding-left: 0px;
}
.grade-border-right {
	padding-right: 0px;
}

.grade > div {
	color: #39739d;
    margin: 0;
}
.grade > div:hover {
    cursor:pointer;	
}

.col-xs-6 {
	padding-left: 4px;
	padding-right: 4px;
}

.col-xs-6 > div {
    font-size: smaller;
    padding: 2px;
}

.progress {
	margin-bottom: 10px;
}

textarea {
    resize: none;
}

.comment {
	color: #39739d;
	text-decoration:none;
}
.comment:hover {
	color: #39739d;
	text-decoration:none;
}

.row-bottom-border {
    border-bottom: 1px solid #e4e6e8;
}

/*------------------------*/

/*-------------*/
/*custom-navbar*/
/*-------------*/

.navbar-custom {
  background-color: rgb(226,146,119);
}

.navbar-custom .navbar-brand {
  color: #ffffff;
}

.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus {
  color: #e2bbac;
}

.navbar-custom .navbar-text {
  color: #ffffff;
}

.navbar-custom .navbar-nav > li > a {
  color: #ffffff;
}

.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
  color: #e2bbac;
  background-color: rgba(226,146,119, 0); /*block background from bootstrap*/
}

.navbar-custom .navbar-nav > .active > a,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
  color: #e2bbac;
  background-color: rgba(226,146,119, 0.7);
}

.navbar-custom .navbar-toggle {
  border-color: #ffffff;
}

.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: #e2bbac;
}

.navbar-custom .navbar-toggle .icon-bar {
  background-color: #ffffff;
}

.navbar-custom .navbar-nav > .open > a,
.navbar-custom .navbar-nav > .open > a:hover,
.navbar-custom .navbar-nav > .open > a:focus {
  color: #e2bbac;
  background-color: rgba(226,146,119, 0.7);
}

.navbar-custom .navbar-nav > .dropdown > a:hover .caret {
  border-top-color: rgb(226,146,119);
  border-bottom-color: rgb(226,146,119);
}

.navbar-custom .navbar-nav > .dropdown > a .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}

.navbar-custom .navbar-nav > .open > a .caret,
.navbar-custom .navbar-nav > .open > a:hover .caret,
.navbar-custom .navbar-nav > .open > a:focus .caret {
  border-top-color: rgb(226,146,119);
  border-bottom-color: rgb(226,146,119);
}

@media (max-width: 767px) {

  .navbar-custom .navbar-nav .open .dropdown-menu > .dropdown-header {
    border-color: #e2bbac;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #e2bbac;
    background-color: rgba(226,146,119, 0.7);
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #e2bbac;
    background-color:  rgba(226,146,119, 0.7);
  }
  .error-blockquote {
      margin-top: 10px;
  }

  h2 {
       font-size: 15px;
   }

  h3 {
       font-size: 13px;
   }

  .table th, td {
       font-size:small;
   }

  .table thead > tr > th,
  .table tbody > tr > th,
  .table tfoot > tr > th,
  .table thead > tr > td,
  .table tbody > tr > td,
  .table tfoot > tr > td {
        padding: 4px;
   }
   .table td {
        max-width: 50px;
   }
   .table  td  span {
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
        max-width: 100%;
        white-space: nowrap;
    }
   .footer {
       font-size: smaller;
       line-height: 27px;

   }
}

.navbar-custom .navbar-link {
  color: #ffffff;
}

.navbar-custom .navbar-link:hover {
  color: #e2bbac;
}

.comment-header {
    color:  #e29277;
}

.custom-list-group-item {
  border: 1px solid #fbeed5;
}

.custom-alert {
    color: #e29277;
    border-color: #fbeed5;
}

.field-text {
    font-size:large;
}

.table th, td {
   text-align: center;
}
